<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h1>Adding New Chat</h1>
    <form method="post" action="/chats">
        <input type="text" placeholder="Your Name" name="from">
        <br><br>
        <textarea name="msg">Type Your Message</textarea>
        <br><br>
        <input type="text" placeholder="Receiver Name" name="to">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>