body{
     margin: 20px;
}
.chat{
    background-color: aliceblue;
    border-radius: 16px;
    padding: 20px;
    height: 250px;
    width: 400px;
    display: inline-block;
}
.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 16px;
    /* display: inline-block; */
}